*{
    --fondo-primario : #5d5750;
    --color-secundario : #5833af76;
}

.color-fondo-primario{
    background-color: #1b263b;
}
.color-fondo-secundario{
    background-color: var(--color-secundario);
}

.texto-primario{
    color: #bc6c25;
}

.border-styled{
    border: #bc6c25 solid .5em;
}

/* Add to your CSS */
.card i {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover i {
  opacity: 1;
}


input{
    background-color: rgba(234, 223, 169, 0.383);
    border: none;
    outline: #dda15e;
    outline-style: none;
    font-size: 1em;
    padding: .5em;
} 


@media (max-width:1000px){
    .movil{
        display: none !important;
    }
    .movil-player{
        position:fixed;
        bottom: 0px;
    }
}