.wrap-form-container{
    width: 100vw;
    height: 100dvh;
    background: url(https://img.freepik.com/fotos-premium/fondo-formularios-digitales-abstractos-forma-trapcode-puntos-lineas-brillantes-fondo_799261-292.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}